@charset "ISO-8859-1";
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ptsInput{
	width: 55px;
}
.notesTextArea{
	width:300px;
	height:150px;
}
.notesWrapper{
	float:right;
	display: inline-block;
}