@charset "ISO-8859-1";
.flexbox{
	display: flex;
  	justify-content: space-between;
  	margin: 20px;
  	border: 1px solid grey;
  	padding: 4px;
  	font-size: 20px;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    min-width: 100px;
}@charset "ISO-8859-1";